:root {
  --grid-rows: 1;
  --grid-columns: 1;
}

body {
  display: flex;
  flex-direction: column; /* Change from row to column */
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  background-color: rgb(7, 154, 154);
}
#title {
  margin: 20px;
  font-size: 60px;
  width: 600px;
  height: 120px;
  margin-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid white;
  border-radius: 10px;
  background: linear-gradient(white,white,white);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px white;
}
#grid-container {
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  height: 600px;
  width: 600px;
  background-color: white;
  border: 10px solid white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  margin-right: 213px;
  justify-content: center;
}
.grid-cell {
  display: flex;
  border: 1px solid rgba(78, 78, 78, 0.158);
  background-color: white;
}

#eraser-button,
#eraser,
#black-color-button,
#random-color-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 22px;
  padding: 10px;
  margin: 30px;
  height: 62px;
  width: 182px;
  background-color: white;
  border: none;
  color: rgb(7, 154, 154);
  cursor: pointer;
  border-radius: 10px;
}
#button-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 22px;
  height: 620px;
  width: 170px;
}
.main {
  margin-bottom: 30px;
  display: flex;
}

#size-div {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  height: 40px;
  margin: 30px;
  border: 1px solid white;
}
