body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: royalblue;
}
#title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
 border: 10px solid white;
  background: linear-gradient(red, red , red);
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px  white;
}
#grid-container {
  display: flex;
  flex-wrap: wrap;
  width: 530px; 
  background-color: white;
  border: 10px solid white;
}

.grid-item {
  box-sizing: border-box;
  width: calc(100% / 16);
  height: 0;
  padding-bottom: calc(100% / 16);
  /* border: 1px solid rgb(156, 156, 156); */
}

#eraser-button,
#eraser,
#black-color-button,
#random-color-button ,
#new-grid-button {
  height: 35px;
  width: 80px;
  align-items: center;
  margin: 30px;
  background-color: rgb(52, 49, 49);
  border: none;
  color: white;
  cursor: pointer;
}
#button-container {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  background-color: rgb(81, 75, 75);
}
.main {
  margin-bottom: 30px;
}